:root{
  --bg: rgb(22, 20, 20);
  --fg: rgb(42, 40, 40);
  --border: rgb(32, 30, 30);
  --text: white;
  --active: rgb(152, 0, 0);
  --active-dark: rgb(122 0 0);
  --active-text: white;

  --export-bg: rgb(240, 240, 240);
  --export-fg: rgb(255, 255, 255);
  --export-text: rgb(0, 0, 0);

  --export-border: rgb(250, 250, 250);
}

@font-face {
  font-family: "CinzelDecorative"; 
  src: url("assets/fonts/CinzelDecorative-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Improves performance by controlling font loading behavior */
}

@font-face {
  font-family: "Ubuntu"; 
  src: url("assets/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Improves performance by controlling font loading behavior */
}

*{
  font-family: "Ubuntu", sans-serif;
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
}

h1 {
  font-family: "CinzelDecorative", sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-weight: normal;
}

[class^="fa"]{

  line-height: 1.25em;
  height: 1.25em;
  vertical-align: bottom;
  display: inline;
}

body{
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  min-height: 100vh;
  height: 100%;
}

a {
  color: var(--active);
}

a:hover {
  color: var(--active-dark);
}

nav{
  display: flex;
  position: sticky;
  margin: 20px;
  top: 0px;
  background-color: var(--fg);
  padding: 10px;
  border-radius: 50px;
}

#section-title{
  flex-grow: 1;
  font-size: 2em;
  text-align: center;
  font-family: "CinzelDecorative", sans-serif;
}

button, nav a{
  font-family: "Ubuntu", sans-serif;
  padding: 10px;
  border-radius: 100px;
  background-color: var(--active);
  color: var(--active-text);
  user-select: none;
  cursor: pointer;
  border: 0;
  border-bottom: 5px solid var(--active-dark);
  border-left: 5px solid var(--active-dark);
  transition: border 0.1s;
}

button:active, nav a:active{
  border-bottom: 2px solid var(--active-dark);
  border-left: 2px solid var(--active-dark);
}

html .section{
  margin: 0 20px;
  display: none;
}


.section.selected{
  display: block;
}

.acc{
  /* background-color: var(--fg); */
  /* padding: 10px; */
  /* border-radius: 10px; */
  font-size: 1.25em;
}

.acc-item{
  padding: 10px;
  user-select: none;
  background: var(--fg);
  border-radius: 20px;
}

.acc-item{
  margin-bottom: 20px;
  border-left: 5px solid var(--border);
  border-bottom: 5px solid var(--border);
}

.acc-item .header{
  display: flex;
  padding: 10px;
}

.acc-item .title{
  cursor: pointer;
  font-size: 1.25em;
  flex-grow: 1;
}

.acc-icon {
  vertical-align: baseline;
  transition: transform 0.25s;
}

.acc-item:not(.hidden) .acc-icon{
  transform: rotate(180deg);
}

.acc-item .cont{
  max-height: 80vh;
  overflow: scroll;
  box-sizing: border-box;
  padding: 10px;
  transition: max-height 0.2s , padding 0.2s ;
}

.acc-item.hidden .cont{
  max-height: 0;
  overflow: hidden;
  padding: 0;
}

.acc-item .select-class{
  margin-top: 10px;
}

.gr{
  display: grid;
}

.fl{
  display: flex;
}

.fl-center{
  display: flex;
align-items: center;
justify-content: center;
}

.fl-g{
  flex-grow: 1;
}

.comp{
  background-color: var(--fg);
  padding: 10px;
  border-radius: 10px;
}

.icon-img{
	max-width:30px;
	max-height:30px;
	margin-right: 10px;
  border-radius: 100px !important;
}

.race-img{
  max-width: 400px;
  max-height: 400px;
  float: left;
}

.race-desc{
  font-size: 15px;
}

/* spellcard style */
.spellcard {
  width: 2.5in;
  min-width: 2.5in;
  height: 3.5in;
  background-color: var(--active);
  float: left;
  margin-block-end: 1px;
  margin-inline-end: 1px;
  margin-right: 1px;
  min-inline-size: 240px;
  min-width: 240px;
  position: relative;
  font-size: 10px;
  line-height: 14.2857px;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v25/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
  
.spellcard * {
  font-family: "Lato", Helvetica, Arial, sans-serif;
}  

.spellcard .front {
  color: rgb(0, 0, 0);
  padding: 10px;
  position: absolute;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
}

.spellcard .body {
  background-color: rgb(255, 255, 255);
  block-size: 301px;
  border-radius: 5px;
  border-end-end-radius: 5px;
  border-end-start-radius: 5px;
  border-start-end-radius: 5px;
  border-start-start-radius: 5px;
  height: 301px;
  overflow: hidden;
  width: 220px;
}

.spellcard .name {
  border-color: var(--active);
  border-bottom-style: solid;
  font-size: 14px;
  line-height: normal;
  margin: 0px;
  min-height: 20px;
  padding: 6px 5px;
  text-align: center;
  text-transform: uppercase;
}

.spellcard .status {
  border-bottom-color: var(--active);
  border-bottom-style: solid;
  list-style: none;
  padding: 0px;
  text-align: center;
  margin: 0px;
  box-sizing: border-box;
}

.spellcard .status li {
  float: left;
  font-size: 9px;
  height: 25px;
  line-height: 9px;
  padding: 2px 4px;
  box-sizing: border-box;
}

.spellcard .status li em {
  display: block;
  font-weight: bold;
  padding-bottom: 2px;
  text-transform: uppercase;
  width: 102px;
  -webkit-text-fill-color: var(--active);
}

.spellcard .second {
  border-left-color: var(--active);
  border-left-style: solid;
  inline-size: 110px;
  padding-block-end: 2px;
  vertical-align: top;
}

.spellcard .need {
  background-color: var(--active);
  display: block;
  font-size: 8px;
  font-style: italic;
  font-weight: normal;
  line-height: 100%;
  padding: 2px 4px 4px;
  -webkit-text-fill-color: rgb(255, 255, 255);
}

.spellcard .text {
  line-height: 9px;
  padding: 2px 4px;
  margin: 0px;
}

.spellcard .class {
  font-weight: normal;
  position: absolute;
  top: 315.146px;
  -webkit-text-fill-color: rgb(255, 255, 255);
}

.spellcard .type {
	font-weight: 400;
	right: 8px;
	position: absolute;
	top: 315.146px;
	-webkit-text-fill-color: rgb(255, 255, 255);
}

#character-sheet{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.fr-3{
  grid-template-columns: repeat(3, 1fr);
}

#character-sheet-parent{
  border:4px solid var(--border);
  border-radius: 2px;
  min-height: 50vh;
}

#character-sheet .comp{
  background-color: var(--fg);
  border-radius: 10px;
  border-bottom: 5px solid var(--border);
  border-left: 5px solid var(--border);
}

#character-sheet .sub-comp{
  background-color: var(--fg);
  border-radius: 10px;
  border-bottom: 5px solid var(--border);
  border-left: 5px solid var(--border);
}

#character-sheet .placeholder{
  border: 2px dotted var(--active);
  border-radius: 5px;
  background-color: color-mix(in hsl, var(--active), transparent);
}


#character-sheet .comp .header{
  display: flex;
}

#character-sheet .comp .handle{
  cursor: move; 
}

#character-sheet .comp .content div{
  padding: 5px;
}

input[type='text']{
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  cursor: text;
  color: var(--text);
  padding: 5px;
  display: block;
  transition: border 0.25s;
}

input[type='text']:focus{
    outline: 0;
    border-bottom: 1px solid var(--active);
}

#character-sheet-parent:hover, #character-sheet:hover, #character-sheet-parent *:not(.x, .x *):hover{
  cursor: grab !important;
}

.gridr-2-6{
grid-row: 1 / span 6; 
}

.ui-resizable-handle{
  min-width: 5px;
  min-height: 5px;
}

.ui-resizable-e, .ui-resizable-s {
  display: none;
}

#character-sheet-parent.export-format{
  background-color: var(--export-bg) !important;
}

#character-sheet-parent.export-format .comp, #character-sheet-parent.export-format .sub-comp{
  background-color: var(--export-fg) !important;
  color: var(--export-text) !important;
  border-color: var(--export-border) !important;
}

#character-sheet-parent.export-format{
  background-color: var(--export-fg) !important;
}

.githubbutton{
  background-color: rgb(255, 255, 255);
  border: 0;
  padding: 5px;
  margin-right: 4px;
}

/* change svg fill color */
/* we need to use filter instead of fill because we load it as an image */
.githubbutton img {
  filter: invert(10%) sepia(47%) saturate(6849%) hue-rotate(358deg) brightness(102%) contrast(119%);
}
.githubbutton img:hover {
  filter: invert(11%) sepia(42%) saturate(5907%) hue-rotate(354deg) brightness(98%) contrast(119%);
}

/* text for title on homepage and header on other pages */
.title-text {
  font-size: 3em;
  margin: 0.2em; /* less padding around title */
  margin-top: 1em;
}

.header-link {
  text-decoration: none; /* no underline on link for title */
  color: var(--white);
}
.header-link:hover {
  color: var(--active);
}

.header-text {
  font-size: 2.5em;
  margin: 0.2em;
  margin-top:0.5em;
  padding-left: 20px;
}

/* SOME UTILITY CLASSES ITEM PLACEMENT */
/* utility class for centering items */
.center-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}

/* align (vertical center) items */
.vertical-center-items {
  align-items: center;
}

/* create an empty div with this class to set a newline in centered container */
.newline {
  flex-basis: 100%;
  height: 0;
}

/* utility for footer at bottom of the page:
wrap the entire page contents in this vertical-flex-screen
then add an empty div with the fill class above footer*/
.vertical-flex-screen {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height:100vh;
}
.fill {
  flex-grow: 1;
}

/* utility class for having some padding between items */
.pad-items {
  padding: 20px;
  padding-top: 0;
  gap: 2px;
}

