:root{
  --bg: rgb(22, 20, 20);
  --fg: rgb(42, 40, 40);
  --border: rgb(32, 30, 30);
  --text: white;
  --active: rgb(200, 10, 60);
  --active-dark: rgb(185, 0, 45);
  --active-text: white;
}

@font-face {
  font-family: "NotoSerif"; 
  src: url("assets/fonts/NotoSerif-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Improves performance by controlling font loading behavior */
}

*{
  font-family: "NotoSerif", serif;
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
}

h1, h2, h3, h4, h5, h6{
  font-weight: normal;
}

[class^="fa"]{

  line-height: 1.25em;
  height: 1.25em;
  vertical-align: bottom;
  display: inline;
}

body{
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  min-height: 100%;
}

nav{
  display: flex;
  position: sticky;
  margin: 20px;
  top: 0px;
  background-color: var(--fg);
  padding: 10px;
  border-radius: 50px;
}

#section-title{
  flex-grow: 1;
  font-size: 2em;
  text-align: center;
}

nav a{
  /* cursor: pointer; */
  /* padding: 10px; */
  /* font-size: 1.2em; */
  /* border: 0 !important; */
  /* box-shadow: 0 0 20px 10px black; */
  /* border-radius: 100px; */
}

nav a:hover{

}

button, nav a{
  padding: 10px;
  border-radius: 100px;
  background-color: var(--active);
  color: var(--active-text);
  user-select: none;
  cursor: pointer;
  border: 0;
  border-bottom: 5px solid var(--active-dark);
  border-left: 5px solid var(--active-dark);
  transition: border 0.1s;
}

button:active, nav a:active{
  border-bottom: 2px solid var(--active-dark);
  border-left: 2px solid var(--active-dark);
}

.section{
  margin: 0 20px;
  display: none;
}


.section.selected{
  display: block;
}

.acc{
  /* background-color: var(--fg); */
  /* padding: 10px; */
  /* border-radius: 10px; */
  font-size: 1.25em;
}

.acc-item{
  padding: 10px;
  user-select: none;
  background: var(--fg);
  border-radius: 20px;
}

.acc-item{
  margin-bottom: 20px;
  border-left: 5px solid var(--border);
  border-bottom: 5px solid var(--border);
}

.acc-item .header{
  display: flex;
  padding: 10px;
}

.acc-item .title{
  cursor: pointer;
  font-size: 1.25em;
  flex-grow: 1;
}

.acc-icon {
  vertical-align: baseline;
  transition: transform 0.25s;
}

.acc-item:not(.hidden) .acc-icon{
  transform: rotate(180deg);
}

.acc-item .cont{
  max-height: 80vh;
  overflow: scroll;
  box-sizing: border-box;
  padding: 10px;
  transition: max-height 0.2s , padding 0.2s ;
}

.acc-item.hidden .cont{
  max-height: 0;
  overflow: hidden;
  padding: 0;
}

.acc-item .select-class{
  margin-top: 10px;
}

.fl{
  display: flex;
}

.fl-g{
  flex-grow: 1;
}

/* spellcard style */
.spellcard
{
	width: 2.5in;
	min-width: 2.5in;
	height: 3.5in;
	background-color: rgb(59, 175, 177);
	float: left;
	margin-block-end: 1px;
	margin-inline-end: 1px;
	margin-right: 1px;
	min-inline-size: 240px;
	min-width: 240px;
	position: relative;
	top: 0px;
	font-size: 10px;
	line-height: 14.2857px;
}

.spellcard .cont{
  font-size: 0.5em;
}
.spellcard .front {
	color: rgb(0, 0, 0);
	padding-left: 10px;
	padding-top: 10px;
	position: absolute;
}

.spellcard .body {
	background-color: rgb(255, 255, 255);
	block-size: 301px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-end-end-radius: 5px;
	border-end-start-radius: 5px;
	border-start-end-radius: 5px;
	border-start-start-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 301px;
	overflow-block: hidden;
	overflow-inline: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	text-align: left;
	width: 220px;
}

.spellcard .name {
	block-size: 30.6667px;
	border-bottom-color: rgb(59, 175, 177);
	border-bottom-style: solid;
	font-size: 14px;
	height: 30.6667px;
	inline-size: 220px;
	line-height: normal;
	margin-bottom: 0px;
	margin-top: 0px;
	min-block-size: 20px;
	min-height: 20px;
	padding-block-end: 6px;
	padding-block-start: 6px;
	padding-left: 5px;
	text-align: center;
	text-transform: uppercase;
}

.spellcard .status {
	block-size: 27px;
	border-bottom-color: rgb(59, 175, 177);
	border-bottom-style: solid;
	height: 27px;
	list-style-type: none;
	margin-bottom: 0px;
	padding-left: 0px;
	perspective-origin: 110px 13.5px;
	text-align: center;
}

.spellcard .status li {
	float: left;
	font-size: 9px;
	height: 25px;
	line-height: 9px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	width: 110px;
}

.spellcard .status li em {
	block-size: 11px;
	display: block;
	font-weight: 700;
	height: 11px;
	inline-size: 102px;
	padding-bottom: 2px;
	text-transform: uppercase;
	width: 102px;
	-webkit-text-fill-color: rgb(59, 175, 177);
}

.spellcard .second {
	block-size: 25px;
	border-inline-start-style: solid;
	border-inline-start-width: 2px;
	border-left-color: rgb(59, 175, 177);
	border-left-style: solid;
	border-left-width: 2px;
	inline-size: 110px;
	min-block-size: 25px;
	min-height: 25px;
	padding-block-end: 2px;
	vertical-align: top;
}

.spellcard .need {
	background-color: rgb(59, 175, 177);
	block-size: 14px;
	display: block;
	font-size: 8px;
	font-style: italic;
	font-weight: 400;
	height: 14px;
	inline-size: 220px;
	line-height: 8px;
	padding-block-end: 4px;
	padding-block-start: 2px;
	width: 220px;
	-webkit-text-fill-color: rgb(255, 255, 255);
}

.spellcard .text {
	block-size: 94px;
	height: 94px;
	line-height: 9px;
	margin-block-end: 0px;
	padding-block-start: 2px;
	padding-inline-start: 4px;
	padding-right: 4px;
}

.spellcard .class {
	block-size: 12.8542px;
	font-size: 9px;
	font-weight: 400;
	height: 12.8542px;
	inline-size: 74.1875px;
	left: 10px;
	line-height: 12.8571px;
	position: absolute;
	top: 315.146px;
	-webkit-text-fill-color: rgb(255, 255, 255);
}

.spellcard .type {
	font-weight: 400;
	left: 145px;
	position: absolute;
	top: 313.719px;
	-webkit-text-fill-color: rgb(255, 255, 255);
}
